In [3]:
# Install necessary packages using the '!' prefix to run it as a shell command
!pip install pandas ipython-sql

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.2.2)
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.1)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.11.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in /home/codespace/.local/lib/python3.12/site-packages (from ipython-sql) (8.26.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.32-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /home/codespace/.local/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Collecting greenlet!=0.4.17 (from sqlalchemy>=2.0->ipython-sql)
  Downloading greenlet-3.0.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Requirement already satisfied: decorator in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /home/codespace/.local/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/codespace/.local/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /home/codespace/.local/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /home/codespace/.local/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /home/codespace/.local/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.32-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 52.8 MB/s eta 0:00:00
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.11.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.1-py3-none-any.whl (44 kB)
Downloading greenlet-3.0.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (625 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 625.7/625.7 kB 10.4 MB/s eta 0:00:00
Installing collected packages: ipython-genutils, sqlparse, prettytable, greenlet, sqlalchemy, ipython-sql
Successfully installed greenlet-3.0.3 ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.11.0 sqlalchemy-2.0.32 sqlparse-0.5.1

In [4]:
import sqlite3

# Connect to the SQLite database (it will be created if it doesn't exist)
conn = sqlite3.connect('fruit_shop_db.sqlite')
cursor = conn.cursor()

# Create a table for fruit inventory
cursor.execute('''
CREATE TABLE IF NOT EXISTS fruits (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    quantity INTEGER NOT NULL,
    price_per_unit REAL NOT NULL
)
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

In [5]:
# Reconnect to the database
conn = sqlite3.connect('fruit_shop_db.sqlite')
cursor = conn.cursor()

# Sample data for the fruits table
fruits_data = [
    ('Apple', 50, 0.5),
    ('Banana', 100, 0.2),
    ('Orange', 75, 0.3),
    ('Mango', 20, 1.5)
]

# Insert data into the fruits table
cursor.executemany('''
INSERT INTO fruits (name, quantity, price_per_unit)
VALUES (?, ?, ?)
''', fruits_data)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [6]:
# Load the ipython-sql extension
%load_ext sql

# Connect to the SQLite database
%sql sqlite:///fruit_shop_db.sqlite

In [7]:
%%sql
SELECT * FROM fruits;

 * sqlite:///fruit_shop_db.sqlite
Done.

[(1, 'Apple', 50, 0.5),
 (2, 'Banana', 100, 0.2),
 (3, 'Orange', 75, 0.3),
 (4, 'Mango', 20, 1.5)]

In [8]:
import sqlite3

# Connect to the SQLite database (it will be created if it doesn't exist)
conn = sqlite3.connect('fruit_shop_db.sqlite')
cursor = conn.cursor()

# Create a table for fruits
cursor.execute('''
CREATE TABLE IF NOT EXISTS fruits (
    fruit_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    description TEXT,
    price_per_unit REAL NOT NULL
)
''')

# Create a table for suppliers
cursor.execute('''
CREATE TABLE IF NOT EXISTS suppliers (
    supplier_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    contact_info TEXT
)
''')

# Create a table for stock
cursor.execute('''
CREATE TABLE IF NOT EXISTS stock (
    stock_id INTEGER PRIMARY KEY,
    fruit_id INTEGER,
    supplier_id INTEGER,
    quantity INTEGER NOT NULL,
    date_received DATE,
    FOREIGN KEY (fruit_id) REFERENCES fruits(fruit_id),
    FOREIGN KEY (supplier_id) REFERENCES suppliers(supplier_id)
)
''')

# Create a table for customers
cursor.execute('''
CREATE TABLE IF NOT EXISTS customers (
    customer_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    contact_info TEXT
)
''')

# Create a table for transactions
cursor.execute('''
CREATE TABLE IF NOT EXISTS transactions (
    transaction_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    stock_id INTEGER,
    quantity INTEGER NOT NULL,
    total_price REAL NOT NULL,
    transaction_date DATE,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
    FOREIGN KEY (stock_id) REFERENCES stock(stock_id)
)
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

In [10]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('fruit_shop_db.sqlite')
cursor = conn.cursor()

# Drop the existing fruits table if it exists
cursor.execute('DROP TABLE IF EXISTS fruits')

# Recreate the fruits table with the correct schema
cursor.execute('''
CREATE TABLE IF NOT EXISTS fruits (
    fruit_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    description TEXT,
    price_per_unit REAL NOT NULL
)
''')

# Sample data for fruits
fruits_data = [
    ('Apple', 'Crisp and sweet', 0.5),
    ('Banana', 'Ripe and creamy', 0.2),
    ('Orange', 'Juicy and tangy', 0.3),
    ('Mango', 'Rich and tropical', 1.5)
]

# Insert data into the fruits table
cursor.executemany('''
INSERT INTO fruits (name, description, price_per_unit)
VALUES (?, ?, ?)
''', fruits_data)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [11]:
%%sql
-- List all transactions along with customer names and the fruit purchased
SELECT t.transaction_id, c.name AS customer_name, f.name AS fruit_name, t.quantity, t.total_price, t.transaction_date
FROM transactions t
JOIN customers c ON t.customer_id = c.customer_id
JOIN stock s ON t.stock_id = s.stock_id
JOIN fruits f ON s.fruit_id = f.fruit_id;

 * sqlite:///fruit_shop_db.sqlite
Done.

[]

In [12]:
# Load the ipython-sql extension
%load_ext sql

# Connect to the SQLite database
%sql sqlite:///fruit_shop_db.sqlite

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
%reload_ext sql

In [14]:
%%sql
SELECT * FROM fruits;

 * sqlite:///fruit_shop_db.sqlite
Done.

[(1, 'Apple', 'Crisp and sweet', 0.5),
 (2, 'Banana', 'Ripe and creamy', 0.2),
 (3, 'Orange', 'Juicy and tangy', 0.3),
 (4, 'Mango', 'Rich and tropical', 1.5)]

In [15]:
%%sql
SELECT * FROM suppliers;

 * sqlite:///fruit_shop_db.sqlite
Done.

[]

In [16]:
import sqlite3
import datetime

# Connect to the SQLite database
conn = sqlite3.connect('fruit_shop_db.sqlite')
cursor = conn.cursor()

# Additional dummy data for fruits
more_fruits_data = [
    ('Pineapple', 'Tropical and tangy', 1.2),
    ('Grapes', 'Small and sweet', 2.5),
    ('Strawberry', 'Juicy and red', 3.0),
    ('Blueberry', 'Small and tart', 4.0)
]

# Insert more data into the fruits table
cursor.executemany('''
INSERT INTO fruits (name, description, price_per_unit)
VALUES (?, ?, ?)
''', more_fruits_data)

# Additional dummy data for suppliers
more_suppliers_data = [
    ('Berry Suppliers', '456 Berry Blvd'),
    ('Tropical Fruits Co.', '789 Pineapple Ave')
]

# Insert more data into the suppliers table
cursor.executemany('''
INSERT INTO suppliers (name, contact_info)
VALUES (?, ?)
''', more_suppliers_data)

# Additional dummy data for stock
more_stock_data = [
    (5, 3, 50, '2024-08-04'),
    (6, 4, 30, '2024-08-05'),
    (7, 5, 40, '2024-08-06'),
    (8, 6, 60, '2024-08-07')
]

# Insert more data into the stock table
cursor.executemany('''
INSERT INTO stock (fruit_id, supplier_id, quantity, date_received)
VALUES (?, ?, ?, ?)
''', more_stock_data)

# Additional dummy data for customers
more_customers_data = [
    ('Alice Johnson', 'alice@example.com'),
    ('Bob Williams', 'bob@example.com')
]

# Insert more data into the customers table
cursor.executemany('''
INSERT INTO customers (name, contact_info)
VALUES (?, ?)
''', more_customers_data)

# Additional dummy data for transactions
more_transactions_data = [
    (3, 3, 15, 18.0, '2024-08-17'),
    (4, 4, 10, 40.0, '2024-08-18')
]

# Insert more data into the transactions table
cursor.executemany('''
INSERT INTO transactions (customer_id, stock_id, quantity, total_price, transaction_date)
VALUES (?, ?, ?, ?, ?)
''', more_transactions_data)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [17]:
# Load the ipython-sql extension
%load_ext sql

# Connect to the SQLite database
%sql sqlite:///fruit_shop_db.sqlite

# Display all data in the fruits table
print("Fruits Table:")
%sql SELECT * FROM fruits;

# Display all data in the suppliers table
print("\nSuppliers Table:")
%sql SELECT * FROM suppliers;

# Display all data in the stock table
print("\nStock Table:")
%sql SELECT * FROM stock;

# Display all data in the customers table
print("\nCustomers Table:")
%sql SELECT * FROM customers;

# Display all data in the transactions table
print("\nTransactions Table:")
%sql SELECT * FROM transactions;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Fruits Table:
 * sqlite:///fruit_shop_db.sqlite
Done.

Suppliers Table:
 * sqlite:///fruit_shop_db.sqlite
Done.

Stock Table:
 * sqlite:///fruit_shop_db.sqlite
Done.

Customers Table:
 * sqlite:///fruit_shop_db.sqlite
Done.

Transactions Table:
 * sqlite:///fruit_shop_db.sqlite
Done.

[(1, 3, 3, 15, 18.0, '2024-08-17'), (2, 4, 4, 10, 40.0, '2024-08-18')]

In [18]:
import sqlite3
import datetime

# Connect to the SQLite database
conn = sqlite3.connect('fruit_shop_db.sqlite')
cursor = conn.cursor()

# Additional dummy data for fruits
more_fruits_data = [
    ('Pineapple', 'Tropical and tangy', 1.2),
    ('Grapes', 'Small and sweet', 2.5),
    ('Strawberry', 'Juicy and red', 3.0),
    ('Blueberry', 'Small and tart', 4.0)
]

# Insert more data into the fruits table
cursor.executemany('''
INSERT INTO fruits (name, description, price_per_unit)
VALUES (?, ?, ?)
''', more_fruits_data)

# Additional dummy data for suppliers
more_suppliers_data = [
    ('Berry Suppliers', '456 Berry Blvd'),
    ('Tropical Fruits Co.', '789 Pineapple Ave')
]

# Insert more data into the suppliers table
cursor.executemany('''
INSERT INTO suppliers (name, contact_info)
VALUES (?, ?)
''', more_suppliers_data)

# Additional dummy data for stock
more_stock_data = [
    (5, 3, 50, '2024-08-04'),
    (6, 4, 30, '2024-08-05'),
    (7, 5, 40, '2024-08-06'),
    (8, 6, 60, '2024-08-07')
]

# Insert more data into the stock table
cursor.executemany('''
INSERT INTO stock (fruit_id, supplier_id, quantity, date_received)
VALUES (?, ?, ?, ?)
''', more_stock_data)

# Additional dummy data for customers
more_customers_data = [
    ('Alice Johnson', 'alice@example.com'),
    ('Bob Williams', 'bob@example.com')
]

# Insert more data into the customers table
cursor.executemany('''
INSERT INTO customers (name, contact_info)
VALUES (?, ?)
''', more_customers_data)

# Additional dummy data for transactions
more_transactions_data = [
    (3, 5, 20, 24.0, '2024-08-19'),
    (4, 6, 12, 48.0, '2024-08-20')
]

# Insert more data into the transactions table
cursor.executemany('''
INSERT INTO transactions (customer_id, stock_id, quantity, total_price, transaction_date)
VALUES (?, ?, ?, ?, ?)
''', more_transactions_data)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [19]:
# Load the ipython-sql extension
%load_ext sql

# Connect to the SQLite database
%sql sqlite:///fruit_shop_db.sqlite

# Display all data in the fruits table
print("Fruits Table:")
%sql SELECT * FROM fruits;

# Display all data in the suppliers table
print("\nSuppliers Table:")
%sql SELECT * FROM suppliers;

# Display all data in the stock table
print("\nStock Table:")
%sql SELECT * FROM stock;

# Display all data in the customers table
print("\nCustomers Table:")
%sql SELECT * FROM customers;

# Display all data in the transactions table
print("\nTransactions Table:")
%sql SELECT * FROM transactions;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Fruits Table:
 * sqlite:///fruit_shop_db.sqlite
Done.

Suppliers Table:
 * sqlite:///fruit_shop_db.sqlite
Done.

Stock Table:
 * sqlite:///fruit_shop_db.sqlite
Done.

Customers Table:
 * sqlite:///fruit_shop_db.sqlite
Done.

Transactions Table:
 * sqlite:///fruit_shop_db.sqlite
Done.

[(1, 3, 3, 15, 18.0, '2024-08-17'),
 (2, 4, 4, 10, 40.0, '2024-08-18'),
 (3, 3, 5, 20, 24.0, '2024-08-19'),
 (4, 4, 6, 12, 48.0, '2024-08-20')]